*{
    padding: 0px;
    margin:0px;
}
/*header*/
.headerDiv{
    width: 100%;
    height: 15px;
    background: #f7f1e1;
}
.headerTop{
    height: 110px;
    display: flex;
    justify-content: space-evenly;
}
.headerLeft,.headerMiddle,.headerRight{
   line-height: 110px;
}
.headerRight img, .headerMiddle img{
    width: 18px;
    display:inline-block; 
}
.headerTop img{
    vertical-align:middle;
}
.headerMiddle input{
background-color: rgba(0, 0, 0, 0.05);
height: 25px;
}
/*nav*/
.navbar .classSet{
    background: #8fc320;
    height: 57px;
    display: flex;
    justify-content: center;
    line-height: 57px;
}
.classSet .dropMenu{
    width: 200px;
}
.classSet .dropMenu div{
    font-size: 20px;
    background-color: #f48f01;
    font-weight: bold;
    color: white;
    text-align: center;
}
/*横排的样式*/
.classList{
list-style: none;

}
.classDropItem{
    position: absolute;
    flex-flow: column;
    z-index: 1;
}
.classSet li {
    display: inline-block;
    padding: 0 15px 0 15px;
}
.classSet li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/*竖排的样式*/
.dropMenu{
    display: inline-block;
}
.dropMenu .classDrop{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    height: 440px;
    z-index: 1;
}
.dropMenu .classDrop li{
    font-size: 20px;
    height: 146px;
    color: black;
    font-weight: normal;
    line-height: 146px;
}
.classDroplist{
    position: relative;
    display: inline-block;
    
    z-index: 1;
}
/*轮播图*/
.list{
    background: #8fc320;
    display: flex;
    justify-content: center;
}
.list .listItem{
    width: 220px;
    background-color: white;
    border-radius:10px; 
    margin: 40px 30px 40px 0;
    text-align: center;
    
}
.listItemHead1{
    background-color: #a7d04c;
    height: 40px;
    line-height: 40px;
    border-radius:10px 10px 0 0 ; 
}
.listItemHead2{
    background-color: #70c8b0;
    height: 40px;
    line-height: 40px;
    border-radius:10px 10px 0 0 ; 
}
.listItemHead3{
    background-color: #f48f01;
    height: 40px;
    line-height: 40px;
    border-radius:10px 10px 0 0 ; 
}
.listItemHead4{
    background-color: #ff6d44;
    height: 40px;
    line-height: 40px;
    border-radius:10px 10px 0 0 ; 
}
.listItemBody{
    line-height:30px;
    padding: 15px;
    font-size: 14px;
}